<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <style>
li.two-tabs {
    text-decoration: none !important;
    transition: 0.2s ease-in-out;
    /* font-size: 150%; */
    color: white;
    /* font-weight: bold; */
    font-size: 1.2em;

}
  </style>
  <body class="text-white" style="background-color: black;">
    
    
    <!-- Container -->
    <div class="container">
      <div class="row justify-content-center" style="height: 100vh;">
        <div class="col-2"></div>
          <div class="col-8">
              <h1 class="display-1 text-capitalize pb-3">Edit Movies</h1>
        
    
        <ul class="nav nav-tabs">
          <li class="px-3 active two-tabs"><a data-toggle="tab" href="#add" style="color: inherit;">Add</a></li>
          <li class="px-3 two-tabs"><a data-toggle="tab" href="#delete" style="color: inherit;">Delete</a></li>
        </ul>
      
        <div class="tab-content">
  
          <div id="add" class="tab-pane fade pt-3 show active">
            <form id="addform" action="{% url 'index' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="type" value="add">
              <div class="form-group">
                <label>Movie Name</label>
                <input type="text" class="form-control w-100 bg-dark text-white" placeholder="Enter Movie Name...." name="moviename">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>
              
              <div class="row">
                <div class="col-6">
                  <label>Actor Name</label>
                </div>
                <div class="col-6">
                  <label>Character Name</label>
                </div>
              </div>
              <div class="row" id="actorcharacter">
                  <div class="col-6" id = "actor">
                    <div class="form-group">
                        <input type="text" class="form-control w-100 bg-dark text-white" placeholder="Enter Actor Name...." name="actorname">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                      </div>
                  </div>
                  <div class="col-6" id = "character">
                    <div class="form-group">
                        <input type="text" class="form-control w-100 bg-dark text-white" placeholder="Enter Character Name...." name="charactername">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                      </div>
                  </div>
                </div>
                
                <button id = "addmore" type="button" class="btn btn-default btn-outline-danger mb-3">
                  Add More
                </button>
                <div class="form-group">
                    <label>Director Name</label>
                    <input type="text" class="form-control w-100 bg-dark text-white" placeholder="Enter Director Name...." name="directorname">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                
                <div class="form-group">
                    <label>Production House</label>
                    <input type="text" class="form-control w-100 bg-dark text-white" placeholder="Enter Production House...." name="productionhouse">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
  
                <label>Genres</label>
                <div class="form-group" id = "genre">
                    <input type="text" class="form-control w-100 bg-dark text-white" placeholder="Enter Genre...." name="genres">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
  
                <button id = "addmore1" type="button" class="btn btn-default btn-outline-danger mb-3">
                  Add More
                </button>
  
                <div class="form-group">
                    <label>Popularity</label>
                    <input type="text" class="form-control w-100 bg-dark text-white" placeholder="Enter Popularity Rating...." name="popularity">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
  
                <div class="form-group">
                    <label>Rating</label>
                    <input type="text" class="form-control w-100 bg-dark text-white" placeholder="Enter Rating...." name="rating">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
  
                <div class="form-group">
                    <label>Runtime</label>
                    <input type="text" class="form-control w-100 bg-dark text-white" placeholder="Enter Runtime...." name="runtime">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
  
                <div class="form-group">
                    <label for="">Release date:</label>
                    <input type="date" class="form-control w-100 bg-dark text-white"  name="releasedate">
                </div>
                
                <div class="form-group">
                    <label for="comment">Description:</label>
                    <textarea class="form-control bg-dark text-white" rows="5" name="description"></textarea>
                  </div>
  
              <button type="submit" class="btn btn-primary btn-block mb-5">Submit</button>
            </form>
          </div>
          <div id="delete" class="tab-pane fade pt-3">
            <form action="{% url 'index' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="type" value="delete">
              <div class="form-group">
                <label>Movie Name</label>
                <input type="text" class="form-control w-100 bg-dark text-white" placeholder="Enter Movie Name...." name="moviename">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>
              <button type="submit" class="btn btn-primary btn-block ">Submit</button>
            </form>
          </div>
        </div>
        </div>
        <div class="col-2"></div>
      </div>
            
  
    </div>
    <!-- End of Container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
          $('#addmore').on('click', function() {
                var data = $("#actor").clone(true).appendTo("#actorcharacter");
                // data.find("input").val('');
        });
        $('#addmore').on('click', function() {
                var data = $("#character").clone(true).appendTo("#actorcharacter");
                // data.find("input").val('');
        });
        $('#addmore1').on('click', function() {
                var data = $("#genre").clone(true).insertAfter("#genre");
                // data.find("input").val('');
        });
        $("#addform").submit(function(){
          var result = "";
          var actorinput = document.getElementsByName("actorname");
          for(var i = 0; i < actorinput.length; i++) {
            if(i == actorinput.length - 1)
              result = result + actorinput[i].value;
            else
              result = result + actorinput[i].value + ",";
          }
          for(var i = 0; i < actorinput.length; i++) {
            actorinput[i].value = result;
          }
          result = "";
          var characterinput = document.getElementsByName("charactername");
          for(var i = 0; i < characterinput.length; i++) {
            if(i == characterinput.length - 1)
              result = result + characterinput[i].value;
            else
              result = result + characterinput[i].value + ",";
          }
          for(var i = 0; i < characterinput.length; i++) {
            characterinput[i].value = result;
          }
          result = "";
          var genresinput = document.getElementsByName("genres");
          for(var i = 0; i < genresinput.length; i++) {
            if(i == genresinput.length - 1)
              result = result + genresinput[i].value;
            else
              result = result + genresinput[i].value + ",";
          }
          for(var i = 0; i < genresinput.length; i++) {
            genresinput[i].value = result;
          }
        });
    </script>
  </body>
</html>