{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load removespecial %}

<!-- Title -->
      <div class="row bg-warning">
        <div class="col text-center">
          <h1 class="display-4 text-uppercase text-dark mb-0">
            <strong>Genre</strong>
          </h1>
          <div class="title-underline bg-danger"></div>
          <p class="mt-2 text-capitalize text-muted">Lorem ipsum dolor sit.</p>
        </div>
      </div>
<!-- End of Title -->

<section id="about" class="bg-info">
  <div class="container-fluid">
    <div class="row">
      <!-- About img column -->
      <!-- For parallax, search css file -->

      
        <!-- <h5 id="{{forloop.counter}}">{{movie.name}}</h5> -->
            
        <!-- <h6 id="{{action|length|add:1}}" class="title" style="text-decoration: black; margin: 0%; font-size: 0%;">
            <a href="{% url 'genre_type' action %}" id="{{forloop.counter}}">
                <div class="item p-5"><img id="{{action.name|removespecial}}" src='' alt="No image">
                    {{action}}
                </div>
            </a>
        </h6> -->

        <h1 id="{{action|length|add:1}}" align = center class="title display-4" style="font-weight: bold;">Action</h1>
          <div class="gallery" style="border: black solid;">
            <a href="{% url 'genre_type' genre_name='action' %}">
              <div class="card mb-3" style="max-width: 550px; height: 270px; background-color: rgb(75, 75, 75);" >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img id="{{action|removespecial}}" src='' class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" id="1" style="font-weight: bold; font-size: x-large;">{{action}}</h5>
                      <!-- <p class="card-text">Runtime: {{movie.time}} mins</p>
                      <p class="card-text">Release date: {{movie.date}}</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </a>
        </div>

        <!-- <h1 id="{{action|length|add:1}}" align = center class="title display-4" style="font-weight: bold;">Top Rated</h1>
          <div class="gallery" style="border: black solid;">
          <a href="{% url 'genre_type' action %}">
          <div class="card mb-3" style="max-width: 600px; height: 270px; background-color: rgb(75, 75, 75);" >
          <div class="row no-gutters">
            <div class="col-md-4">
              <img id="{{movie.name|removespecial}}" src='' class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" id="{{forloop.counter}}" style="font-weight: bold; font-size: x-large;">{{movie.name}}</h5>
                <p class="card-text">Runtime: {{movie.time}} mins</p>
                <p class="card-text">Release date: {{movie.date}}</p>
              </div>
            </div>
          </div>
        </div></a></div>
        <h1 id="{{action|length|add:1}}" align = center class="title display-4" style="font-weight: bold;">Top Rated</h1>
          <div class="gallery" style="border: black solid;">
          <a href="{% url 'genre_type' action %}">
          <div class="card mb-3" style="max-width: 600px; height: 270px; background-color: rgb(75, 75, 75);" >
          <div class="row no-gutters">
            <div class="col-md-4">
              <img id="{{movie.name|removespecial}}" src='' class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" id="{{forloop.counter}}" style="font-weight: bold; font-size: x-large;">{{movie.name}}</h5>
                <p class="card-text">Runtime: {{movie.time}} mins</p>
                <p class="card-text">Release date: {{movie.date}}</p>
              </div>
            </div>
          </div>
        </div></a></div> -->
            
      <!-- {% comment %} <div class="col-md-6 about-picture height-80"></div> {% endcomment %} -->

      <!-- End of img column -->

      <!-- About text column -->
      <div class="col-md-6 about-text height-80 px-5 d-flex align-items-center justify-content-center">
        <!-- This is for centering -->
        <div class="about-text-center">
          <!-- Title -->
            <div class="row">
              <div class="col text-center">
                <h1 class="display-4 text-uppercase text-dark mb-0">
                  <strong>About</strong>
                </h1>
                <div class="title-underline bg-warning"></div>
                <p class="mt-2 text-capitalize text-muted">Lorem ipsum dolor sit.</p>
              </div>
            </div>
          <!-- End of Title -->

          

        </div>
      </div>
      <!-- End of text column -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'searchbase.js' %}"></script>

{% endblock content %}