{% extends 'base.html' %}

{% block content %}
<div class="container" style="color: white;">
    <h1>Check out the navbar!</h1>
</div>

<div class="container" style="color: white; background-color: gray;">
    <div class="card-group">
        <div class="card" style="border-color: red;">
          <img class="card-img-top" style="opacity: 0.30;" src="" alt="Card image cap">
          <div class="card-img-overlay">
            <h1 class="card-title">Action</h1>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-outline-dark">Go to Action</a>
           </div>
        </div>

        <div class="card">
            <img class="card-img-top" style="opacity: 0.30;" src="" alt="Card image cap">
          <div class="card-img-overlay">
            <h1 class="card-title">Adventure</h1>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-outline-dark">Go to Adventure</a>
          </div>
        </div>

        <div class="card">
            <img class="card-img-top" style="opacity: 0.30;" src="" alt="Card image cap">
          <div class="card-img-overlay">
            <h1 class="card-title">Thriller</h1>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-outline-dark">Go to Thriller</a>
          </div>
        </div>
        
        <div class="card">
            <img class="card-img-top" style="opacity: 0.30;" src="" alt="Card image cap">
            <div class="card-img-overlay">
              <h1 class="card-title">Comedy</h1>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-outline-dark">Go to Comedy</a>
          </div>

          </div>
      </div>
</div>
{% endblock content %}

