{% extends 'base.html' %}

{% block content %}
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <img class="card-img-top" src="{{img}}" alt="...">
            </div>
            <div class="col">
                <h1 align=center style="text-transform: capitalize;">{{name}}</h1>
                <br><br>
                <h3 align=justify>{{description}}</h3><br>
                <div class="row">
                    <div class="col">
                        <h3>director : </h3><br>
                    </div>
                    <div class="col">
                        {% for dir in director %}
                            <h3 style="text-transform: initial;">{{dir.name}}</h3>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>production house : </h3><br>
                    </div>
                    <div class="col">
                        {% for house in production_house %}
                            <h3 style="text-transform: initial;">{{house.name}}</h3>
                        {% endfor %}
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <br><br>
    <h2 align=left style="text-transform: initial;"> cast members</h2>
    <br>

    {% for var in act_descp %}

        <div class="gall">
            <div class="desc"><h2><a href="{% url 'actor' var.aid %}" id="{{forloop.counter}}">{{var.aname}}</a></h2></div>
            <div class="desc"><h4>AS</h4></div>
            <div class="desc"><h2>{{var.cname}}</h2></div>
        </div>

    {% endfor %}
{% endblock content %}