{% extends 'base.html' %}

{% block content %}
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <img class="card-img-top" src="{{img}}" alt="...">
            </div>
            <div class="col">
                <h1 align=center class="display-3" style="text-transform: capitalize; font-weight: bold;">{{name}}</h1>
                <br><br>
                <h3 align=justify>{{description}}</h3><br>
                <div class="row">
                    <div class="col">
                        <h3 style="font-weight: bold;">Director: </h3>
                    </div>
                    <div class="col">
                        {% for dir in director %}
                         <h3 style="text-transform: initial;">{{dir.name}}</h3>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3 style="font-weight: bold;">Production House: </h3>
                    </div>
                    <div class="col">
                        {% for house in production_house %}
                            <h3 style="text-transform: initial;">{{house.name}}</h3>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <h1 align=center style="text-transform: initial;"> Cast Members</h1>
    <br>

    <div class="container">
        {% for var in act_descp %}
            <a href="{% url 'actor' var.aid %}" id="{{forloop.counter}}">
                <div class="gall">
                    <div class="desc" style="font-weight: bold;"><h2>{{var.aname}}</h2></div>
                    <div class="desc"><h4>AS</h4></div>
                    <div class="desc"><h2>{{var.cname}}</h2></div>
                </div>
            </a>
    {% endfor %}
    </div>
    
{% endblock content %}