{% extends 'base.html' %}

{% block content %}
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <img class="card-img-top" src="{{img}}" alt="...">
            </div>
            <div class="col">
                <h1 align=center style="text-transform: capitalize;">{{name}}</h1>
                <br><br>
                <h3 align=justify>{{description}}</h3>
            </div>
        </div>
    </div>

    <br><br>
    <h2 align=left style="text-transform: initial;"> cast members</h2>
    <br>

    {% for var in act_descp %}

        <div class="gallery">
            <div class="desc"><h3>{{var.aname}}</h3></div>
            <div class="desc"><h5>as</h5></div>
            <div class="desc"><h3>{{var.cname}}</h3></div>
        </div>

    {% endfor %}
{% endblock content %}