{% extends 'base.html' %}
{% load static %}
{% load removespecial %}

{% block content %}

{% if top_rated_movies %}
    <h1 id="{{top_rated_movies|length|add:1}}" align = center class="title">Top Rated</h1>
      {% for movie in top_rated_movies %}
      <div class="gallery">
      <a href="{% url 'movie' movie.id %}">
      <div class="card mb-3" style="max-width: 600px; height: 270px; background-color: gray;" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img id="{{movie.name|removespecial}}" src='' class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" id="{{forloop.counter}}">{{movie.name}}</h5>
            <p class="card-text">Runtime: {{movie.time}} mins</p>
            <p class="card-text">Release date: {{movie.date}}</p>
          </div>
        </div>
      </div>
    </div></a></div>
      {% endfor %}
{% elif most_popular_movies %}
    <h1 id="{{most_popular_movies|length|add:1}}" class="title">Most Popular</h1>
    <ul>
      {% for movie in most_popular_movies %}
      <div class="gallery">
        <a href="{% url 'movie' movie.id %}">
      <div class="card mb-3" style="max-width: 600px; height: 270px; background-color: gray;" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img id="{{movie.name|removespecial}}" src='' class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" id="{{forloop.counter}}">{{movie.name}}</h5>
            <p class="card-text">Runtime: {{movie.time}} mins</p>
            <p class="card-text">Release date : {{movie.date}}</p>
          </div>
        </div>
      </div>
    </div></a></div>
      {% endfor %}
  </ul>
{% elif recent_movies %}
    <h1 id="{{recent_movies|length|add:1}}" class="title">Recently Added</h1>
    <ul>
      {% for movie in recent_movies %}
      <div class="gallery">
        <a href="{% url 'movie' movie.id %}">
      <div class="card mb-3" style="max-width: 600px; height: 270px; background-color: gray;" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img id="{{movie.name|removespecial}}" src='' class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" id="{{forloop.counter}}">{{movie.name}}</h5>
            <p class="card-text">Runtime: {{movie.time}} mins</p>
            <p class="card-text">Release Date: {{movie.date}}</p>
          </div>
        </div>
      </div>
    </div></a></div>
      {% endfor %}
  </ul>
  {% elif act_desc %}
  <h1 id="{{act_desc|length|add:1}}" class="title" align=center>{{name}}</h1>
  <ul>
    {% for actor in act_desc %}
    <div class="gallery">
      <a href="{% url 'movie' actor.mid %}">
    <div class="card mb-3" style="max-width: 600px; height: 270px; background-color: gray;" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <img id="{{actor.mname|removespecial}}" src='' class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" id="{{forloop.counter}}">{{actor.mname}}</h5>
          <p class="card-text">Runtime: {{actor.time}} mins</p>
            <p class="card-text">Release date: {{actor.date}}</p>
        </div>
      </div>
    </div>
  </div></a></div>
    {% endfor %}
</ul>

{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'searchbase.js' %}"></script>
{% endblock content %}
