{% extends 'base.html' %}

{% block content %}

{% if top_rated_movies %}
    <h1>Top Rated</h1>

  <ul>
      {% for movie in top_rated_movies %}
      <!-- <li> {{movie}}</li> -->
      <div class="card mb-3" style="max-width: 540px; background-color: gray;" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src={{movie.img}} class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'movie' movie.name %}">{{movie.name}}</a></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
  </ul>

{% endif %}

{% if most_popular_movies %}
    <h1>Most Popular</h1>

  <ul>
      {% for movie in most_popular_movies %}
      <!-- <li> {{movie}}</li> -->
      <div class="card mb-3" style="max-width: 540px; background-color: gray;" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src={{movie.img}} class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'movie' movie.name %}">{{movie.name}}</a></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
  </ul>
  
{% endif %}


{% if recent_movies %}
    <h1>Recently Added</h1>

  <ul>
      {% for movie in recent_movies %}
      <!-- <li> {{movie}}</li> -->
      <div class="card mb-3" style="max-width: 540px; background-color: gray;" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src={{movie.img}} class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'movie' movie.name %}">{{movie.name}}</a></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
  </ul>
  
{% endif %}


{% endblock  %}